
<h1 class="gal"> GALERIA </h1>

<section   class="galeria-angu " >
    
    <div class="galeria">
     
        
        <div class="img-galeria-angu size-angu"><img src="assets/img/img-2.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-1.jpg" alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-3.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-4.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-5.jpg" alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-6.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-7.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-8.jpg" alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-9.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-10.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-12.jpg"  alt=""> </div>
        <div class="img-galeria-angu"><img src="assets/img/img-11.jpg"  alt=""> </div>
    </div>
</section>
