
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>

<div class="container mt-4">
    <div class="row my-4">
        <div class="col-8 offset-2 d-flex justify-content-between align-content-center">
            <p class="fw-bold  h1  text-danger">Lista de Formularios</p>
            <button class="btn btn-info" [routerLink]="['/formulario']" routerLinkActive="router-link-active"><i class="far fa-bars"></i>Crear Formulario</button>
        </div>
        <div class="col-12 ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo de Identificacion</th>
                        <th scope="col">Numero de Identificacion</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Numero Telefonico</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Email</th>
                        <th scope="col">Genero</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let formulario of listadoFormulario">
                        <td>{{ formulario.tipoidentificacion }}</td>
                        <td>{{ formulario.numeroidentificacion }}</td>
                        <td>{{ formulario.nombre}}</td>
                        <td>{{ formulario.apellido }}</td>
                        <td>{{ formulario.telefono }}</td>
                        <td>{{ formulario.direccion }}</td>
                        <td>{{ formulario.email }}</td>
                        <td>{{ formulario.genero }}</td>

                        <td>
                            <i class="fas fa-pen" [routerLink]="['/editar-formulario/', formulario._id]"routerLinkActive="router-link-active"></i>
                            <i class="fas fa-trash" (click)="eliminarFormulario(formulario._id)"></i>
                       <!-- </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Cedula de Ciudadania</td>
                        <td> 78795980</td>
                        <td> Lina Sol </td>
                        <td> Torres Paez</td>
                        <td> 3216567810</td>
                        <td>calle 22</td>
                        <td>lis@gmail.com</td>
                        <td> Femenino</td>
                        <td>
                            <i class="fas fa-pen" [routerLink]="['/editar-formulario/2']" routerLinkActive="router-link-active"></i>
                            <i class="fas fa-trash"></i>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Cedula de Extrangeria</td>
                        <td> 108791980</td>
                        <td> Ronald </td>
                        <td> Duran Osorio</td>
                        <td> 3113568803</td>
                        <td> calle 29</td>
                        <td> roldo@gmail.com</td>
                        <td> LGTBI</td>
                      <td>
                            <i class="fas fa-pen" [routerLink]="['/editar-formulario/3']" routerLinkActive="router-link-active"></i>
                            <i class="fas fa-trash"></i> -->
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</div>
