/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.fondo{
    background: #000000;
}

.container-uno{

    
    background: -moz-linear-gradient(0deg,rgb(255, 0, 0) 0%, rgb(255, 0, 0) 51%, rgb(13, 14, 11) 100%);
    background: -webkit-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 51%, rgb(0, 0, 0) 100%);
    background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 51%, rgb(0, 0, 0)100%);

    display: flex;
    justify-content: space-around;

    align-items: center;
    padding: 10px;

   margin-bottom: 10px;

}




.pie_pgn:hover{
    color:rgb(26, 22, 23);
    background:rgba(10, 1, 1, 0.719)
    
}
.pie_pgn{
    
  margin-top: 20%;
    background:	rgb(255, 0, 0);
    width: 100%;
    height: 50px;
    
    
}

.pie_pgn h2{
    color: rgb(39, 10, 66);
    text-align: center;
    padding-top: 10px;

}

